body {
    background-color: slategray;

}

header {
    position: relative;
    background-color: #000000;
    width: auto;
    padding: 1em 3em;
    margin-left: auto;
    margin-right: auto;
    
}



img.logotipo {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    
    
}

img.imagemMenu {
    display: block;
    position: absolute;
    width: 30px;
    margin-left: 90%;
    margin-right: auto;
    margin-top: -30px;
    cursor: pointer;
}

img.instagram {
    display: block;
    position: absolute;
    width: 30px;
    margin-left: auto;
    margin-right: 90%;
    margin-top: -30px;
    transition: width .5s;
    cursor: pointer;
}

.instagram:hover {
    width: 40px;
}
.imagemMenu:hover {
    width: 35px;
}
.logotipo:hover {
    width: 400px;
}
.dropdown-menu {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3D0000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    margin-left: 90%;
    margin-right: auto;
    border-radius: 5%;
    
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

li.itemMenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    padding: 3px 3px;
    
}